/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #88c0d0 !important;
  --toolbarbutton-icon-fill: #81a1c1 !important;
  --toolbar-field-color: #8fbcbb !important;
  --tab-selected-textcolor: #81a1c1 !important;
  --toolbar-color: #8fbcbb !important;
  --arrowpanel-color: #eceff4 !important;
  --arrowpanel-background: #434c5e !important;
  --sidebar-text-color: #8fbcbb !important;
/*  --zen-main-browser-background: #2e3440 !important; */
}

.sidebar-placesTree {
  background-color: #434c5e !important;
}

#zen-workspaces-button {
  background-color: #434c5e !important;
}

#TabsToolbar {
  background-color: #2e3440 !important;
}

.urlbar-background {
  background-color: #434c5e !important;
}

.urlbar-input::selection {
  color: #2e3440 !important;
  background-color: #81a1c1 !important;
}

.urlbarView-url {
  color: #eceff4 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #81a1c1
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #acd9ff !important;
  --identity-icon-color: #acd9ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #81a1c1 !important;
  --identity-icon-color: #81a1c1 !important;
}

.identity-color-green {
  --identity-tab-color: #88e086 !important;
  --identity-icon-color: #88e086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8df97 !important;
  --identity-icon-color: #e8df97 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbd07b !important;
  --identity-icon-color: #dbd07b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f60 !important;
  --identity-icon-color: #e05f60 !important;
}

.identity-color-pink {
  --identity-tab-color: #2e5d73 !important;
  --identity-icon-color: #2e5d73 !important;
}

.identity-color-purple {
  --identity-tab-color: #6a7d90 !important;
  --identity-icon-color: #6a7d90 !important;
}

#zen-appcontent-navbar-container {
  background-color: #2e3440 !important;
}
