@import url("nord-colors.css");

/* DARK MODE */
@define-color panel-bg transparent;
@define-color tile-bg @nord1;
@define-color tile-bg-active @nord3;
@define-color tile-bg-hover @nord2;
@define-color tile-bg-urgent @nord11;
@define-color tile-contents @nord6;
@define-color tooltip-bg @tile-bg;
@define-color tooltip-contents @tile-contents;
