* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "NotoSans Nerd Font";
  font-weight: 500;
  font-size: 14px;
}

window#waybar {
  background-color: @panel-bg;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin-left: 6px;
  margin-right: 6px;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @tile-bg;
  color: @tile-contents;
}

#workspaces button.active {
  color: @tile-contents;
  background-color: @tile-bg-active;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @tile-contents;
  background-color: @tile-bg-hover;
}

#workspaces button.urgent {
  background-color: @tile-bg-urgent;
}

#memory,
#cpu,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#window,
#user,
#custom-notification,
#idle_inhibitor,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @tile-bg;
  color: @tile-contents;
}

#idle_inhibitor.deactivated {
  background-color: @tile-bg;
}

#idle_inhibitor.activated {
  background-color: @tile-bg-urgent;
}

/* #tray { */
/*   background-color: @nord3; */
/* } */
/**/
/* #custom-notification { */
/*   background-color: @nord8; */
/* } */
/**/
/* #window { */
/*   background-color: @nord9; */
/* } */
/**/
/* #cpu { */
/*   background-color: @nord9; */
/* } */
/**/
/* #memory { */
/*   background-color: @nord8; */
/* } */
/**/
/* #battery { */
/*   background-color: @nord7; */
/* } */

@keyframes blink {
  to {
    background-color: @tile-bg-urgent;
    color: @tile-contents;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @tile-bg-urgent;
  color: @tile-bg;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #battery.charging { */
/*   background-color: @nord14; */
/* } */
/**/
/* #backlight { */
/*   background-color: @nord4; */
/* } */
/**/
/* #pulseaudio { */
/*   background-color: @nord6; */
/* } */

/* #network { */
/*   background-color: @nord6; */
/*   padding-right: 17px; */
/* } */
/**/
/* #clock { */
/*   background-color: @nord7; */
/* } */


/* tooltip */
tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @tooltip-bg;
}

tooltip label {
  padding: 5px;
  color: @tooltip-contents;
  text-shadow: none;
  background-color: @tooltip-bg;
}
