@define-color nord0 #2E3440; /* very dark */
@define-color nord1 #3B4252;  /* grey dark */
@define-color nord2 #434C5E; /* grey medium */
@define-color nord3 #4C566A; /* grey lighter */
@define-color nord4 #D8DEE9; /* off white */
@define-color nord5 #E5E9F0; /* medium white */
@define-color nord6 #ECEFF4; /* white white */
@define-color nord7 #8FBCBB; /* almost turquise */
@define-color nord8 #88C0D0; /* bright saturated blue */
@define-color nord9 #81A1C1; /* normal blue */
@define-color nord10 #5E81AC; /* dark blue */
@define-color nord11 #BF616A; /* red */
@define-color nord12 #D08770; /* orange */
@define-color nord13 #EBCB8B; /* yellow */
@define-color nord14 #A3BE8C; /* green */
@define-color nord15 #8483AD; /* pink/purple */

@define-color noti-border-color @nord6;
@define-color noti-bg @nord0;
@define-color noti-bg-alt @nord1;
@define-color noti-fg @nord4;
@define-color noti-bg-focus @nord14;
@define-color noti-close-bg @nord6;
@define-color noti-close-bg-hover @nord6;
@define-color noti-urgent @nord11;
@define-color bg-selected @nord3;

* { /* All elements */
  color: @nord6;
  font-family: "NotoSans Nerd Font";
  font-weight: 500;
  font-size: 14px;
}

/* Notifications */

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: @nord1;
}

.notification {
  border-radius: 4px;
  margin: 6px 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.critical {
  border: 1px solid @nord11;
}


.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 4px;
}

.close-button {
  background: @nord11;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: 2px solid transparent;
  min-width: 20px;
  min-height: 20px;
}

.close-button:hover {
  box-shadow: none;
  /* background: @nord9; */
  transition: all 0.15s ease-in-out;
  border: none;
  border: 2px solid @nord9;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @nord0;
  color: @nord6;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @nord9;
}

.notification-default-action {
  border-radius: 4px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

.notification-action:first-child {
  border-bottom-left-radius: 4px;
}

.notification-action:last-child {
  border-bottom-right-radius: 4px;
}

.image {}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 4px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: white;
  text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: white;
  text-shadow: none;
}

.control-center {
  background-color: @noti-bg-alt;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  /* background: transparent; */
  background-color: rgba(46, 52, 64, 0.5);
  /* opacity: 0.5; */
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-title>button {
  font-size: initial;
  color: white;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 4px;
}

.widget-title>button:hover {
  background: @nord9;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 4px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: @bg-selected;
}

.widget-dnd>switch slider {
  background: @nord9;
  border-radius: 4px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}

.widget-label>label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

/* Volume and Brightness Widget*/

.widget-volume {
  background-color: @noti-bg;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
}

.widget-backlight {
  background-color: @noti-bg;
  padding: 8px 8px 8px 8px;
  margin-bottom: 0px;
  border-radius: 4px;
}

.power-buttons{
  background-color: @noti-bg;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
}


.power-buttons>button {
  background: transparent;
  border: none;
}

.power-buttons>button:hover {
  background: @nord9;
}

.widget-menubar>box>.menu-button-bar>button{
  border: none;
  background: transparent;
}

.topbar-buttons>button{
  border: none;
  background: transparent;
}

.widget-buttons-grid{
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  background-color: @noti-bg;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  background: @noti-bg;
  border-radius: 4px;
  border: 1px @nord8;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @nord9;
}
